:root {
  --body-header-font-family: "Raleway", sans-serif;
  --body-text-font-family: "Roboto", sans-serif;
  --brand-color: #4d5ae5;
  --white-color: #f4f4fd;
  --text-brand-color: #2e2f42;
  --text-adress-color: #434455;
}

/* Global styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffffff;
}

/* Classes */

/*  header logo */

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.nav-logo-span-studio {
  color: #2e2f42;
}

/* list */
.list {
  list-style: none;
}

/* nav */
.nav-list-studio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 5; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list-studio:hover,
.nav-list-studio:focus {
  color: #404bbf;
}

/* adress */

.header-address-lists {
  font-style: normal;
}

.adress-list {
  font-size: 16px;
  line-height: 1, 5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-list:hover,
.adress-list:focus {
  color: #404bbf;
}

/* filter buttons */
.portfolio-filter-buttons {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;

  color: var(--brand-color);
  background-color: var(--white-color);
}

/* blue-text-filter-button */

.portfolio-filter-buttons:hover,
.portfolio-filter-buttons:focus {
  color: var(--WHITE, #fff);
  background-color: var(--brand-color);
}

/* images header */
.images-header {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;

  color: var(--text-brand-color);
}

/* images description */
.images-description {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;

  color: var(--text-adress-color);
}

/* footer logo */
.footer-logo-studio {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-final-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;

  color: var(--white-color);
}

.footer-logo-and-text {
  background-color: var(--text-brand-color);
}
